<!--<md-toolbar color="primary" md-scroll-shrink ng-if="true">
  <a md-button routerLink="/">Quran Tutor</a>
  <span class="fill-remaining-space"></span>
  <div [hidden]="user">
    <a md-button [routerLink]="['/login']" >Login</a>
    <a md-button [routerLink]="['/signup']">Sign up</a>
  </div>
  <div [hidden]="!user">
   <a md-button [routerLink]="['/classesList']">Your classes</a>  

    
    <button md-button (click)="logout()">Logout</button>
  </div>
  <span>{{ user | displayName }}</span>
</md-toolbar>-->
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tutors">Tutors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <div [hidden]="user">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']">Login</button>
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/signup']">Sign up</button>

    </div>
    <div [hidden]="!user">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/classesList']">Your Classes</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
      
    </div>

     </div>
</nav>

    <!--Intro content-->
    <!--<div class="full-bg-img flex-center">
        
    </div>-->
    <!--/Intro content-->
    <router-outlet></router-outlet>

      
    <footer class="footer">
       <div class="container">
         <p class="text-muted">This site is expected to be released in late March, right now it is in beta version.</p>
         <a href="mailto:Mohmmad.khzrag@gmail.com">
         <p >Email us.</p>  
       </div>
     </footer> 