html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

// .push {
//   height: 50px;
// }
.view {
    height: 100%;
}

.view {
    background: url('quran-wallpaper-14.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    margin: 50px 0;
    margin-left: 50px;
}