<md-toolbar color="primary" md-scroll-shrink ng-if="true">
<!--<md-toolbar class="md-tall md-accent" md-scroll-shrink ng-if="true">-->

  <a md-button routerLink="/">Quran Tutor</a>
  <span class="fill-remaining-space"></span>
    <!--<a md-button [routerLink]="['/tutors']" >Tutors list</a>-->
  <div [hidden]="user">
    <a md-button [routerLink]="['/login']" >Login</a>
    <a md-button [routerLink]="['/signup']">Sign up</a>
  </div>
  <div [hidden]="!user">
   <a md-button [routerLink]="['/classesList']">Your classes</a>  

    
    <!--<a md-button [routerLink]="['/active-classes']">Active classes</a>-->
    <button md-button (click)="logout()">Logout</button>
  </div>
  <span>{{ user | displayName }}</span>
</md-toolbar>

 
    <router-outlet></router-outlet>
      
<!--
<div class="container well">
</div>
<div id="footer">
  <div style="text-align:center">

    <div class="container">
        <div class="row">
            <h3 class="footertext">About Us:</h3>
            <br>
              <div class="col-md-4">
                <div style="text-align:center">
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmer</h4>
                  <p class="footertext">You can thank all the crazy programming here to this guy.<br></p>
                </div>
              </div>
              <div class="col-md-4">
                  <div style="text-align:center">
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext">All the images here are hand drawn by this man.<br>
                  </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div style="text-align:center">

                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                  </p>
                  </div>

              </div>
            </div>
            <div class="row">
            <p><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></p>
        </div>
    </div>
</div>
</div>-->

<!---<div class="navbar navbar-inverse navbar-static-top">
 
 <div class="container">
  
  <a href="#" class="navbar-brand">Mr. M.'s Sticky Footer Example </a> <button class="navbar-toggle"
        data-toggle="collapse" data-target=".navHeaderCollapse"></button>

        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>

            <li><a href="#">Blog</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media</a>

              <ul class="dropdown-menu">
                <li><a href="#">Twitter</a></li>

                <li><a href="#">Facebook</a></li>

                <li><a href="#">Google+</a></li>

                <li><a href="#">Instagram</a></li>
              </ul>
            </li>

            <li><a href="#">About</a></li>

            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    

  <div class="container">  
  
  <h2>Mr. M.'s  Sticky Footer Example</h2>
  

  <div class="well well-sm">
  <p>
  <span class="label label-warning">Important Note</span>
  <br>
  To see this working, <strong>you must open JUST the file without Bootsnip's "View full screen" feature </strong>.
  <br><br>
  <a href="http://bootsnipp.com/iframe/V24R" target="_blank">http://bootsnipp.com/iframe/V24R</a>
  </p>
  </div>

  -->

<!--
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2014 - Site Built By Mr. M.
           <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a>
      </p>
      
      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
    </div>
    
    
  </div>
-->
<footer class="footer">
      <div class="container">
        <p class="text-muted">This site is expected to be released in late March, right now it is in beta version.</p>
        <a href="mailto:Mohmmad.khzrag@gmail.com">
        <p >Email us.</p>  
      </div>
    </footer>