    <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="quran-wallpaper-14.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
              <h1 style="color: white;"> Learn Quran on Skype.</h1>
              <p style="color: black;">Online Quran Lessons with Personal Tutors
          ElMohfez.com is the easy and effective way to learn and teach your self and your kids The Quran. Enjoy interactive classes on Skype with some of the best teachers from around the world.
          </p>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Student Sign up</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="quran-wallpaper-14.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right">
              <h1 style="color: white;"> Teach Quran online.</h1>
              <p style="color: black;"> Teach people Quran through the live lessons
          </p>
              <p><a class="btn btn-lg btn-primary" href="/newtutor" role="button">Tutor Sign up</a></p>
            </div>
          </div>
        </div>
      </div>
      </div>-->
<!--
    <p style="text-align: center;">(( عَنْ عُثْمَانَ رَضِي اللَّهم عَنْهم عَنِ النَّبِيِّ صَلَّى اللَّهم عَلَيْهِ وَسَلَّمَ قَالَ خَيْرُكُمْ مَنْ تَعَلَّمَ الْقُرْآنَ وَعَلَّمَهُ ))  </p>

        <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="Wallpaper AlQuran.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Mobile learining</h2>
          <p>Anywhere, Anytime, with best teachers.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="quran-wallpaper-14.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Best service</h2>
          <p>Native certified Teachers, with free trial lessons!.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="tn_quran.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Most efficient</h2>
          <p>Reach your individul goals with tailor made lessons.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      </div>-->


<div class="circle-container">
	<div class="outer-ring"></div>
	<!-- Used for more of a gyroscope type effect
	<div class="outer-outer-ring"></div>
	-->
	<div class="circle">
		<div class="front">
			<p>START</p>
		</div>
		<div class="back">
			<img class="back-logo" src="//theelevationgroup.com/img/logo.svg" alt="The Elevation Group Logo" />
		</div>
	</div>
</div>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="Skype-Classes-to-Learn-Quran-Online-1024x670.png" height="350" width="950" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Quran Online Classes</h1>
                <p >Our mission is to make learning Quran an easier, faster and effective process for everyone.</p>
                <p >View avilable <a [routerLink]="['/tutors']">tutors</a> and schedule your classes.</p>
                <a class="btn btn-success btn-lg" href="/tutors">Book your Quran classes now!</a>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>


        <div class="container">
                    <div class="row bs-wizard" style="border-bottom:0;">
                        <div class="col-xs-3 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">Step 1</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="/signup" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Signup.</div>
                        </div>
                        
                        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Step 2</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="/tutors" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Choose tutor</div>
                        </div>
                        
                        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Step 3</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="/tutors" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">schedule your class</div>
                        </div>
                        
                        <div class="col-xs-3 bs-wizard-step active"><!-- active -->
                        <div class="text-center bs-wizard-stepnum">Final Step</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="/tutors" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Review your tutor and recomend your friends.</div>
                        </div>
                    </div>
        </div>
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <!--This is a well that is a great spot for a business tagline or phone number for easy access!-->
                    <a [routerLink]="['/signup']">Sign Up</a> now to get a free trial class!
                <i class="fa fa-gift" aria-hidden="true"></i>

                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div id="services">
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Learning Quran has never been easier</h2>
                <p>We connect you with professional teachers, enable you to learn efficiently, with the best learning experince.</p>
                <a class="btn btn-default" href="/signup">Start learning</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Wanna tech your kids Quran?</h2>
                <p>Now you can teach your kids the Quran from home, choose their teachers, set their schedule.</p>
                <a class="btn btn-default" href="/signup">Start learning</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>A Quran teacher?</h2>
                <p>Teach Quran Classes online, you can set up your own schedule, we will enable you to be more efficient where you set your own schedule, be a place independent teacher, increase your reach, increase your income.</p>
                <a class="btn btn-default" href="/signup">Start learning</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; QuranTutor 2017</p>
                </div>
                
            </div>
        </footer>
        </div>

    </div>
    <!-- /.container -->