<div style="text-align:center">
<h6 [hidden]="tutor"> Welcome.</h6> 
<!--<div *ngIf"!tutor">-->
<button [hidden]="tutor" [routerLink]="['/request']" type="button" class="btn btn-primary">Request a Class</button>
<button [hidden]="tutor" [routerLink]="['/avilable-classes']" type="button" class="btn btn-success">Join a Class</button>
<!--</div>-->
<div *ngIf="tutor">
  <h6> Have a free time?, Add a class, teach people, earn money</h6>
<a md-button [routerLink]="['/addClass']" ><button type="button" class="btn btn-primary">Add a new Class</button></a>
</div>
<br>  
<!--<h6>A list of our avilable tutors and the languages the teach in </h6>-->
    <!--<tutors-list></tutors-list>-->
</div>
<!--<a md-button [routerLink]="['/tutors']" ><button type="button" class="btn btn-primary">Tutors</button></a>-->

<!--<addClass-Userform></addClass-Userform>-->
