  <div *ngIf="tutor">
    <label>Name  </label>
      <input [(ngModel)]="tutor.name"></input>
      <br>
    <label>Hourly rating  </label>
      <input [(ngModel)]="tutor.hourly_rating"></input><br>
    <label>Language   </label>
      <input [(ngModel)]="tutor.language"></input><br>
    <label>Classes</label>
  </div>
    
    
    <ul>
    <li*ngFor="let class of tutorClasses| async">
          <ul>
          <a [routerLink]="['/class', class._id]">{{class.name}}</a>
          
          <p>{{class.language}}</p>
          <div *ngIf="class.active">
            <p>Class is Currently Active</p>
          </div>
          </li>
        </ul>
    </li>
    </ul>
    
    
    <div *ngIf="user">
    <form action={{mailtoTutor}} method="post" enctype="text/plain">
    <label> Contact tutor: </label>
     Subject:<br>
      <input type="text" name="name"><br>
      <input [hidden]="true" type="text" [(ngModel)]="user.emails[0].address" name="mail"><br>
      Message:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
    </div>
<!--

<table>
  <ng-container *ngFor="let row of tutorSchedule; let i=index">
    <tr *ngIf="i%7==0">
      <ng-container *ngFor="col in tutorSchedule.slice(i, i + 7)">
      <td>
        {{col}}
      </td>
      </ng-container>
    </tr>
  </div>
 </ng-container>

</table>-->

<md-button-toggle-group name="alignment" [(ngModel)]="day">
  <md-button-toggle-group name="noneed">
    <md-button-toggle (click)="changeDay(0)" value="0">1</md-button-toggle>
    <md-button-toggle (click)="changeDay(1)" value="1">2</md-button-toggle>
    <md-button-toggle (click)="changeDay(2)" value="2">3</md-button-toggle>
    <md-button-toggle (click)="changeDay(3)" value="3">4</md-button-toggle>
    <md-button-toggle (click)="changeDay(4)" value="4">5</md-button-toggle>
    <md-button-toggle (click)="changeDay(5)" value="5">6</md-button-toggle>
    <md-button-toggle (click)="changeDay(6)" value="6">7</md-button-toggle>
    </md-button-toggle-group>
</md-button-toggle-group>
  <md-grid-list cols="12" rowHeight="50px">
    <md-grid-tile *ngFor="let tile of tutorSchedule[day]; let i=index">
          <!--<md-button-toggle-group [(ngModel)]=tutorSchedule[i]>-->
      <!--<md-button-toggle-group name="noneed" multiple>-->
            <!--<button (click)="toggleSlot(i)">-->
                     <!--<input type="checkbox" onclick="toggleSlot(i)" value="">   -->
                      <button (click)="toggleSlot(i)" type="button" [ngStyle]="{'color': colorsSched[day][i]}">X</button>
              <!--</button>-->
          <!--</md-button-toggle-group>-->
      </md-grid-tile>
  </md-grid-list>
    Scedule:
    <br>
   <button type="button" (click)="bookClass()" class="btn btn-primary">Book class</button>

