classes
<br>
<div *ngIf="is_a_user">
  <div class="rows">
    <div *ngIf="requests">
    <div class="card" *ngFor="let class of classes| async">
      <div class="card-block">
        <a [routerLink]="['/class', class._id]"><h5 class="card-title">{{class.startDate}}</h5></a>
        <!--To Add tutor name-->
      </div>
    </div>
  </div>
</div>


</div>

<div *ngIf="is_a_tutor">
  <div class="rows">
    <div class="card" *ngFor="let class of classes| async">
      <div class="card-block">
        <a [routerLink]="['/class', class._id]"><h4 class="card-title">{{class.startDate}}</h4></a>
        <h5> User Skype: {{class.userSkype}} </h5>
      </div>
  </div>
  </div>
  <a md-button [routerLink]="['/tutors', tutor._id]" ><button type="button" class="btn btn-primary">Open more classes</button></a>
</div>