<!--<div class="row">-->
<div class="card-deck">
  <div class="card" *ngFor="let tutor of tutors| async">
    <div class="card-block">
    <img class="card-img-top img-fluid" *ngIf="tutor.images && tutor.images.length > 0" [src]="tutor | displayMainImage">
    
      <a [routerLink]="['/tutors', tutor._id]"><h4 class="card-title">{{tutor.name}}</h4></a>
      
      <a [routerLink]="['/tutors', tutor._id]" class="card-text" >{{tutor.language}}</a>
  </div>
       
       <ul class="list-group list-group-flush">
    <li class="list-group-item">  <h5 class="card-text" >Price: {{tutor.hourly_rating}}$/Hour</h5></li>
      <li class="list-group-item">  <button  type="button" class="btn btn-success">Book Class</button></li>
          
        <li class="list-group-item"><button type="button" class="btn btn-link btn-sm">Book Free Trial!</button></li>
  </ul>

        <button [hidden]="!isAdmin" (click)="removeTutor(tutor)">X</button>
    </div>
</div>
