<form [formGroup]="addForm" (ngSubmit)="addTutor(); upload.reset();">
  

  <div class="form-group">
    <label for="example-search-input2" class="col-2 col-form-label">Language</label>
    <div class="col-10">
      <input formControlName="language" class="form-control" type="text" id="example-search-input2">
    </div>
  </div>

  <div class="form-group">
    <label for="example-search-input1" class="col-2 col-form-label">Rate $/hour</label>
    <div class="col-10">
      <input formControlName="hourly_rating" class="form-control" type="text" id="example-search-input1">
    </div>
  </div>

<br>
  <!--How would you like to get paid?-->
  <!--<small> Please enter Your credit card number </small>-->
  
  <div class="form-group">
    <label for="cc-number" class="col-2 col-form-label">Credit Card number</label>
    <small class="text-muted">[<span class="cc-brand"></span>]</small>
    <div class="col-10">

    <input id="cc-number" formControlName="creditCard" type="tel" class="form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" ccNumber>
    </div>
  </div>
  <div class="errors" *ngIf="submitted">
    <div *ngIf="!payment_form_2.controls.creditCard.valid" class="alert alert-danger">Credit Card is invalid</div>
  </div>
   <br>
  <upload-image (onFile)="onImage($event)"></upload-image>
<br>
<button type="submit" align-center class="btn btn-success">Sign up</button>
</form>