  <!--<div *ngIf="tutor">
    <label>Name</label>
      <input [disabled]="!isMe" [(ngModel)]="tutor.name"></input><br>
    <label>Hourly rating</label>
      <input [disabled]="!isMe" [(ngModel)]="tutor.hourly_rating"></input><br>
    <label>Language</label>
      <input [disabled]="!isME" [(ngModel)]="tutor.language"></input><br>
    <label>Classes</label>

  <div *ngIf="isMe">
      <div class="card-columns">
      <div class="card" *ngFor="let request of requests| async">
        <img class="card-img-top" src="background.png" alt="Card image cap" style="width:250px;height:200px;">
        <div class="card-block">
          <h4 class="card-title">{{request.startTime}}</h4></a>
          <a [routerLink]="['/tutors', tutor._id]" class="card-text" >{{request.startDate}}</a>
          <br>
          {{request.language}}
          <br>
          <button type="button" class="btn btn-primary" (click)="addClass(request)">Accept Class</button>
        </div>
      </div>
      </div>
  </div>-->

Choose your avilable classes
<br>
<br>
day one represents today : {{today_show}}
<br>
<md-button-toggle-group name="alignment" [(ngModel)]="day">
  <md-button-toggle-group name="noneed">
    <md-button-toggle (click)="changeDay(0)" value="0">1</md-button-toggle>
    <md-button-toggle (click)="changeDay(1)" value="1">2</md-button-toggle>
    <md-button-toggle (click)="changeDay(2)" value="2">3</md-button-toggle>
    <md-button-toggle (click)="changeDay(3)" value="3">4</md-button-toggle>
    <md-button-toggle (click)="changeDay(4)" value="4">5</md-button-toggle>
    <md-button-toggle (click)="changeDay(5)" value="5">6</md-button-toggle>
    <md-button-toggle (click)="changeDay(6)" value="6">7</md-button-toggle>
    </md-button-toggle-group>
</md-button-toggle-group>
  <md-grid-list cols="12" rowHeight="50px">
    <md-grid-tile *ngFor="let tile of tutorSchedule[day]; let i=index">
                      <button (click)="toggleSlot(i)" type="button" [ngStyle]="{'color': colorsSched[day][i]}">X</button>
      </md-grid-tile>
  </md-grid-list>
<button type="button" (click)="addSlot()" class="btn btn-primary">Add</button>
<br>
<br>
Green -> avilable slots.
<br>
Red -> booked solts.
<br>
Black -> not avivilable.