<!--<div class="parties-update-container">
  <div fileDrop
       [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}"
       (fileOver)="fileOver($event)"
       (onFileDrop)="onFileDrop($event)">
    <div>Drop an image to here</div>
  </div>
  
  <div *ngIf="thumbs" class="thumbs">
    <div *ngFor="let thumb of thumbs | async" class="thumb">
      <img [src]="thumb.url"/>
    </div>
    <div class="clear"></div>
    <p>
      hello from image uploading
    </p>
</div>
</div>-->

<ng2-file-input (onChange)="onFileChange($event)"></ng2-file-input> 

<!--<div image-upload
  [max]="100"
  [url]="'example.com/images/upload'"
  [headers]="[
    {header: 'Authorization', value: 'MyToken'}
  ]"
  (onFileUploadFinish)="imageUploaded($event)"
></div>-->